<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Estim8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B51DE54C1CAF401E0060960A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B51DE5631CAF401F0060960A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B51DE56E1CAF401F0060960A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B51DE58C1CB4471E0060960A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
